<html>
<header>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>vismatrix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            padding: 0;
            text-align: center;
            /* !!! */
            font-size: 20px;
        }

        .centered {
            margin: 0 auto;
            text-align: left;
            width: 1600px;
        }

        .input_button {
            width: 200px;
            height: 40px;
            margin-top: 20px;
            border: 2px solid red;
            background-color: red;
            color: white;
            font-size: 15px;
        }

        .hide {
            display: none;
        }

        .page_num {
            display: inline-block;
            margin-right: 5px;
        }

        #div_page {
            text-align: center;
            margin-top: 10px;
        }

        a:link {
            text-decoration: none;
        }

        a:hover {
            color: green;
        }

        img {
            margin: 5px;
        }

        input {
            width: 500px;
        }
    </style>
</header>

<body onload="on_load();">
    <div class="centered">
        <h1> vismatrix </h1>
        <div style="height: 5px; width: 100%; background-color: black; margin-bottom: 5px;"></div>
        <div>
            imgpath: <input id="imgpath"></input>
            labelpath: <input id="labelpath"></input>
            <button onclick="go();">go</button>

        </div>
        <div style="height: 5px; width: 100%; background-color: black; margin-bottom: 5px; margin-top: 5px;"></div>
        <div id="div_img">

        </div>
        <div style="height: 5px; width: 100%; background-color: black;"></div>
        <div id="div_page">

        </div>
        <div id="div_total_page">Total: 1200 page</div>
        <div style="margin-bottom: 50px;"></div>
    </div>
    <script>
        thickness = 0;
        font_size = 0;
        var data = '{{ data | tojson}}';
        data = JSON.parse(data);
        function add_paging() {
            console.log(data['num_page']);
            var url = new URL(window.location.href);
            var cur_index = parseInt(url.searchParams.get("index"));
            var imgpath = url.searchParams.get("imgpath");
            var labelpath = url.searchParams.get("labelpath");
            var thickness = url.searchParams.get("thickness");
            var font_size = url.searchParams.get("font_size");
            if (cur_index == 'undefined') {
                cur_index = 0;
            }
            var i = cur_index - 4;
            if (i > 0) {
                var iDiv = document.createElement('div');
                iDiv.className = 'page_num';
                iDiv.innerHTML = "...";
                document.getElementById("div_page").appendChild(iDiv);
            }
            for (i; ((i < data['num_page']) && (i < cur_index + 4)); i++) {
                if (i < 0) {
                    i = 0;
                }
                var iDiv = document.createElement('div');
                iDiv.className = 'page_num';
                var iA = document.createElement('a');
                iA.href = "?index=" + i.toString() + "&imgpath=" + imgpath + "&labelpath=" + labelpath + "&thickness=" + thickness + "&font_size=" + font_size;
                iA.innerHTML = i.toString();
                if (i == cur_index) {
                    iA.style.color = "green";
                }
                iDiv.appendChild(iA);
                document.getElementById("div_page").appendChild(iDiv);
            }
            if (i < data['num_page']) {
                var iDiv = document.createElement('div');
                iDiv.className = 'page_num';
                iDiv.innerHTML = "...";
                document.getElementById("div_page").appendChild(iDiv);
            }
            document.getElementById("div_total_page").innerHTML = "Total: " + data['num_page'].toString() + " page";
        }
        function add_img() {
            console.log(data['pagefile'].length);
            for (i = 0; i < data['pagefile'].length; i++) {
                console.log(data['pagefile']);
                imgpath = data['pagefile'][i]['imgpath']
                labelpath = data['pagefile'][i]['labelpath']
                fname = data['pagefile'][i]['fname']
                fname_ext = data['pagefile'][i]['fname_ext']
                flabel_path = data['pagefile'][i]['flabel_path']
                thickness = data['pagefile'][i]['thickness']
                font_size = data['pagefile'][i]['font_size']
                findex = data['pagefile'][i]['findex']
                var iImg = document.createElement('img');
                iImg.setAttribute("src", "get_img?fname=" + fname + "&thickness=" + thickness + "&font_size=" + font_size + "&imgpath=" + imgpath + "&flabel_path=" + flabel_path + "&boxes=" + data['pagefile'][i]['boxes']);
                iImg.setAttribute("loading", "lazy");
                iImg.setAttribute("border", 0);
                iImg.setAttribute("alt", fname);
                iImg.setAttribute("width", 300);
                iImg.setAttribute("height", 180);
                iImg.setAttribute("onclick", "go_single('" + imgpath + "','" + labelpath + "','" + flabel_path + "','" + fname + "','" + thickness + "','" + findex + "','" + font_size + "');");
                document.getElementById("div_img").appendChild(iImg);
            }
        }
        function go_single(imgpath, labelpath, flabel_path, fname, thickness, findex, font_size) {
            window.open("./singleimg?imgpath=" + imgpath + "&labelpath=" + labelpath + "&flabel_path=" + flabel_path + "&fname=" + fname + "&thickness=" + thickness + "&font_size=" + font_size + "&findex=" + findex);
        }
        function on_load() {
            var url = new URL(window.location.href);
            var imgpath = url.searchParams.get("imgpath");
            var labelpath = url.searchParams.get("labelpath");
            document.getElementById('imgpath').value = imgpath;
            document.getElementById('labelpath').value = labelpath;
            add_paging();
            add_img();
        }
        function go() {
            imgpath = document.getElementById('imgpath').value;
            labelpath = document.getElementById('labelpath').value;
            window.location.href = "?index=0" + "&imgpath=" + imgpath + "&labelpath=" + labelpath + "&thickness=" + thickness + "&font_size=" + font_size;
        }
    </script>
</body>

</html>