<html>

<head>
    <title>vismatrix</title>
</head>

<body onload="on_load();">
    <div class="centered">

        <h1> vismatrix </h1>
        <div style="height: 5px; width: 100%; background-color: black; margin-bottom: 5px;"></div>
        <div id="fname_div"></div>
        <div id="findex_div"></div>
        <button type="button" onclick="next_img();">Next</button>
        <button type="button" onclick="prev_img();">Back</button>
        <div id="div_img">
        </div>

        <div style="height: 5px; width: 100%; background-color: black;"></div>
        <div id="div_page">

        </div>
        <div id="div_total_page">Total: 1200 page</div>
        <div style="margin-bottom: 50px;"></div>

    </div>
    <script>
        var data = '{{ data | tojson}}';
        data = JSON.parse(data);
        imgpath = data['imgpath']
        labelpath = data['labelpath']
        flabel_path = data['flabel_path']
        fname = data['fname']
        fname_ext = data['fname_ext']
        thickness = data['thickness']
        font_size = data['font_size']
        findex = data['findex']

        document.getElementById("fname_div").innerHTML = fname;
        document.getElementById("findex_div").innerHTML = findex;

        function load_img() {
            console.log(data);
            var iImg = document.createElement('img');
            iImg.setAttribute("src", "get_single_img?fname=" + fname + "&thickness=" + thickness + "&font_size=" + font_size + "&imgpath=" + imgpath + "&flabel_path=" + flabel_path);
            iImg.setAttribute("border", 0);
            iImg.setAttribute("alt", fname);
            iImg.setAttribute("width", 1200);
            iImg.setAttribute("height", 1200);
            document.getElementById("div_img").appendChild(iImg);
        }
        function on_load() {
            load_img();
        }
        function next_img() {
            findex = parseInt(findex) + 1;
            window.location.href = "?imgpath=" + imgpath + "&labelpath=" + labelpath + "&flabel_path=" + flabel_path + "&fname=" + fname + "&thickness=" + thickness + "&font_size=" + font_size + "&findex=" + findex;
        }
        function prev_img() {
            findex = parseInt(findex) - 1;
            window.location.href = "?imgpath=" + imgpath + "&labelpath=" + labelpath + "&flabel_path=" + flabel_path + "&fname=" + fname + "&thickness=" + thickness + "&font_size=" + font_size + "&findex=" + findex;
        }

        document.onkeydown = function (evt) {
            evt = evt || window.event;
            if (evt.keyCode == 37) {
                prev_img();
            } else if (evt.keyCode == 39) {
                next_img();
            }
        };

    </script>


</body>

</html>